/.metadata/
PLATAFORMA DE MOBILIDADE CORPORATIVA \(IOS\)/Projetos/MeusDados
/target/
/axis2-1.6.4/
DIGITAL BUSINESS ENABLEMENT\Outros\axis2-1.6.4
DIGITAL BUSINESS ENABLEMENT\Outros\apache-tomcat-9.0.16
*/*